*{
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
body {
    background-color: #f3f4f5;
    color: #222;
    margin: 0;
    padding: 0;
}
header{
    background: linear-gradient(135deg, #f08a80 0%, #e06c61 100%);
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: relative;
}
.logoutBtn {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #e05649;
    border: 2px solid #fff;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
.logoutBtn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid white;
}
.container {
    width: 500px;
    margin: 60px auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
h2 {
    text-align: center;
    color: #e05649;
    font-weight: 700;
    margin-bottom: 25px;
}
form div {
    margin-bottom: 15px;
}
form label {
    display: block;
    font-weight: 400;
    margin-bottom: 6px;
    color: #222;
}
form input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: 0.2s ease;
}
form input:focus {
    border-color: #f08a80;
    box-shadow: 0 0 5px rgba(240, 138, 128, 0.3);
}
form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #e05649;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}
form button:hover {
    background-color: #d81f0f;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}
table th, table td {
    padding: 15px;
    border: 1px solid #e8eef3;;
}
table th {
        background: linear-gradient(135deg, #f08a80 0%, #e06c61 100%);
        color: #fff;
        font-weight: 600;
        padding: 15px;
        text-align: left;
}
.deleteBtn {
    padding: 6px 10px;
    background-color: #e05649;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    transition: 0.3s ease;
}
.deleteBtn:hover {
    background-color: #e60000;
}
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    table th, table td {
        font-size: 13px;
        padding: 8px;
    }

    form button {
        font-size: 14px;
    }
}
